<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= B_N %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="home-page">
    <p>Initial site upload for <%= B_N %></p>

</div>
</body>
</html>