body * {
    border: solid black;
}


.logo {
    max-width: 50px;
}

.main-pic {
    width: 100%;
}

header {
    background: #fff;
}

.main-nav {
    background: #baff89;
}

.contact-icon {
    padding-left: 4px;
}

.email-icon {
    padding-right: 4px;
}

footer {
    text-align: center;
    padding-top: 10px;
}

#map {
    display: inline-block;
    vertical-align: top;
}

#content-pane {
    display: inline-block;
    text-align: left;
    padding: 5px;
}