@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Oregano');

header {
    background: #fff !important;
}

body {
    background: rgb(204,204,255) !important;
}


.top-nav-items {
    display: flex;
    justify-content: start;
    align-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav-items li {
    display: inline-block;
    padding: 0;
}


.main-nav-gradient {
    background: rgb(72,61,104); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(72,61,104,1) 47%, rgba(82,44,135,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(72,61,104,1) 47%,rgba(82,44,135,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(72,61,104,1) 47%,rgba(82,44,135,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483d68', endColorstr='#522c87',GradientType=0 ); /* IE6-9 */
}

.contact-text {
    color: black;
    padding-left: 5px;
}


.clickable:hover {
    border-radius: 15px;
    box-shadow: 0 0 5px 1px black;
    cursor: pointer;
}

table {
    box-shadow: 2px 2px 2px 2px black;
    -webkit-appearance: none;
    margin: 0 auto;
}

td {
    text-align: left;
    border: solid black 1px;

}

main {
    text-align: center;
    width: 100%;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
}

#about {
    width: 90%;
    margin: auto;
}
#services {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}



#location {
    margin: auto;
}
#appointment {
    margin: auto;
}

.blk-link {
    color: black;
}

.blk-link:hover {
    color: black;
}


.logo {
    max-width: 50px;
    border-radius: 50%;
    opacity: 0.8;
}

.main-pic {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

#map {
    display: inline-block;
    vertical-align: top;
    float: right;
    border: solid black 2px;
    box-shadow: 5px 5px 10px 1px black;
    -webkit-appearance: none;
}

#content-pane {
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.description {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 10px;

    color: #130458;
    font-size: 1.4em;
    font-family: 'Oregano', sans-serif;
    text-align: center;

}

#services li button {
    font-family: 'Oregano', sans-serif;
    font-size: 2rem;
}

.toggle {
    display: none;
}

.title:focus {
    text-decoration: none;
}

.title:focus + .toggle {
    display: inline-block;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:after {
    content:'\25BC';
    font-size: 1.2rem;
    margin-left: 10px;
}

.title {
    color: rgb(138, 43, 226);
    font-size: 3.2em;
    font-family: 'Italianno', cursive;
    font-weight: bold;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em auto;
}

.column {
    display: inline-block;
    text-align: center;
    margin: 15px;
}


@media only screen and (max-width: 650px) {
    .contact-text {
        display: none;
    }
    .top-nav-items {
        justify-content: start;
    }
    .contact-icon{
        width: 110%;
        padding: 5px 25px 5px 0;
    }
    .row {
        margin: 0;
    }
}

@media only screen and (max-width: 550px){
    #map {
        width: 90vw;
    }
}

@media only screen and (max-width: 350px){
    .logo {
        display: none;
    }
    .clickable {
        font-size: .9em;
        margin: 5px 0;
    }
    .navbar {
        padding: 0;
    }
    .top-nav-items {
        justify-content: space-evenly;
    }
    .contact-icon{
        width: 100%;
        padding: 0;
    }
}
