@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

a {
    cursor: pointer;
}

p {
    line-height: 1.7rem;
}

li {
    list-style: none;
}

.divider {
    border: 2px solid rgba(103,183,199,0.2);
    height: 1px;
    margin: 5vh 0;
}

.navigationBar {
    text-align: center;
}

.navigationLink {
    font-size: 1.5rem;
    color: rgb(44, 111, 190);
    padding: 1rem;
}

.navigationLink:hover {
    text-decoration: none;
    color: rgb(28, 71, 122)
}

.clickable:hover {
    border-radius: 15px;
    box-shadow: 0 0 5px 1px black;
    cursor: pointer;
}

.hoursTable {
    box-shadow: 2px 2px 2px 2px black;
    -webkit-appearance: none;
    margin: 0 auto;
    text-align: left;
    border: solid black 1px;
}

.hoursTable td {
    text-align: left;
    border: solid black 1px;
}

#about {
    width: 80vw;
    margin: auto;
}

main {
    text-align: center;
    padding-top: 0.5rem;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
}

.attribution {
    position: absolute;
    text-align: center;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.serviceContainer {
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .2);
    min-width: 300px;
    width: 25vw;
    max-width: 450px;
    height: 20rem;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e8e8e8;
    background: linear-gradient(180deg, rgba(214,248,255,0.1) 0%, rgba(155,212,223,0.2) 44%, rgba(103,183,199,0.3) 100%);
}

.serviceContainer:hover {
    background: #f2f2f2;
    background: linear-gradient(180deg, rgba(214,248,255,0.3) 0%, rgba(155,212,223,0.4) 44%, rgba(103,183,199,0.6) 100%);
}

.blk-link {
    color: black;
}

.blk-link:hover {
    color: black;
}

.column {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 15px 2rem;
}

.serviceTitle {
    text-decoration: underline;
    text-decoration-color: #ddd;
    text-decoration-color: rgba(103,183,199,0.2);
    font-size: 1.7rem;
}
.serviceDescription {
    font-size: .9rem;
}

.logoScale {
    min-height: 300px;
    height: 40vh;
    max-height: 500px;
}

#logoContainer{
    display: block;
}

.logoBackground {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
}

#map {
    display: inline-block;
    min-width: 300px;
    width: 80vw;
    max-width: 500px;
    vertical-align: top;
    float: right;
    border: solid black 2px;
    box-shadow: 5px 5px 10px 1px black;
    -webkit-appearance: none;
}

.description {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.description tr td {
    background: white;
    padding: 0.4rem 0.6rem;
}

.title {
    color: rgb(50, 72, 72);
    font-size: 2.2rem;
    font-family: 'Italianno', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

#carouselMain {
    width: 80vw;
    max-width: 1200px;
    margin: 3vh auto;
}

/* Begin Footer Styling */
footer {
    text-align: center;
    margin-top: 50px;
    background-color: #eee;
}

.footerItem {
    margin: auto;
    display: inline-block;
    padding: 10px 50px 10px 5px;
}

.footerLink {
    color: black;
}

.footerLink:hover {
    text-decoration: none;
    color: #444;
}

.contact-icon {
    padding-right: 10px;
}

.socialIcon {
    padding-right: 40px;
}
/* End Footer Styling */

@media only screen and (max-width: 600px) {
    footer {
        padding-left: 10px;
        text-align: left;
    }
}